<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Evento</title>
</head>
<body>
    <form action="{{url_for('criar_evento')}}"method="POST">
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" required><br><br>
        
        <label for="valor_cota">Valor da Cota:</label><br>
        <input type="number" id="valor_cota" name="valor_cota" step="0.01" required><br><br>
        
        <label for="hora_inicio">Hora de Início:</label><br>
        <input type="time" id="hora_inicio" name="hora_inicio" required><br><br>
        
        <label for="hora_fim">Hora de Fim:</label><br>
        <input type="time" id="hora_fim" name="hora_fim" required><br><br>
        
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
